Source: ros-humble-husarion-components-description
Section: misc
Priority: optional
Maintainer: Husarion <support@husarion.com>
Build-Depends: debhelper (>= 9.0.0), python3-yaml <!nocheck>, ros-humble-ament-cmake, ros-humble-ament-cmake-pytest <!nocheck>, ros-humble-ament-index-python <!nocheck>, ros-humble-depthai-descriptions, ros-humble-kortex-description, ros-humble-realsense2-description, ros-humble-robotiq-description, ros-humble-ur-description, ros-humble-urdf, ros-humble-xacro, ros-humble-zed-msgs, ros-humble-ros-workspace
Homepage: https://husarion.com
Standards-Version: 3.9.2

Package: ros-humble-husarion-components-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-depthai-descriptions, ros-humble-kortex-description, ros-humble-realsense2-description, ros-humble-robotiq-description, ros-humble-ur-description, ros-humble-urdf, ros-humble-xacro, ros-humble-zed-msgs, ros-humble-ros-workspace
Description: URDF descriptions of components offered with Husarion robots
